#myForm{
  text-align: center;
  top padding-top: right;
  float: right;
  border-radius:50px;
  background-color: red;
  opacity: 0.4;
  font-size: 20px;


}
.col-md-12{
  background-color: YELLO;
  padding-top: px;
  border-radius:50px;
  background-color: red;
  opacity: 0.4;
  font-size: 20px;

}


#year{
  margin:5px;
  margin-right: 0px;
    border-radius: 0px;
}
#date{
  margin:5px;
    border-radius: 0px;
}
#month{
  margin: 5px;
  border-radius: 0px;


}
.row{
  font-family: monospace;
  color: white;
}


.jumbotron{
  background-image: url(images/ashanti.jpg);
  background-size:contain;
}

body {
  color:white;
  font-size: 18px;
  font-family: monospace;
}
.container {
  padding-bottom:100px
}
#output{
  width: 500px;
  margin-left: 5px;
}
#answer{
  width:
}
#list{
  mpx;
}
