#myForm{
  text-align: center;
  top padding-top: right;
  float: right;
  border-radius:50px;
  background-color: red;
  opacity: 0.4;
  font-size: 20px;


}
.col-md-12{
  background-color: YELLO;
  padding-top: px;
  border-radius:50px;
  background-color: red;
  opacity: 0.4;
  font-size: 20px;

}


#year{
  margin:0px;
  margin-right: 0px;
    border-radius: 50px;
}
#date{
  margin: px;
    border-radius: 50px;
}
#month{
  margin: 0px;
  border-radius: 50px;

}
.row{
  font-family: monospace;
  color: white;
}


.jumbotron{
  background-image: url(images/ashanti.jpg);
  background-size:contain;
}

body {
  color:white;
  font-size: 18px;
  font-family: monospace;
}
.container {
  padding-bottom:100px
}
